*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

header{
    position: fixed;
    /* diz para ele ficar fixo onde ele nasceu (foi criado) */
    width: 100vw;
    background-color: gray;
    padding: 32px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white; 
    padding: 8px;
    /* qlqr modificao vai demorar 1s */
    transition: 1s;
    /* so os link q estao dentro do header e do nav vao ficar brancos */
}
header nav a:hovert{
/* oq acontece ao passar o mause no link */
border-color: tomato;
padding: 8px;
}

.grupo{
    height: 100vh;
    background-color: brown;
}
#vermelho{
    background-color: red;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 100px;
}

#verde{
    background-color: green;
    display: flex;
    overflow: hidden;
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 175%;
    font-weight: 300;
    font-style: normal;
}
#azul{
    position: absolute;
    padding: 100px;
    display: flex;
}

#amarelo{
    background-color: yellow;
    padding: 100px;
}
#roxo{
    background-color: purple;
    padding: 100px;
}

html, body{
    scroll-behavior: smooth;
    /* dar efeito e mostrar quando rola a tela */
}
#vermelho p{
    color: white;
    width: 50%;
    font-size: 175%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#fotovermelho{
    width: 20%
}
.tristezaimg{
    background-color: royalblue;
    width: 30%;
    height: 50%;
}
.tristezaimg img{

}
.tristezaealegriaimg{
    background-color: hotpink;
    width: 30%;
    height: 50%;
    left: 170       0px;
    top: 850px;
    position: absolute;
}

.textotristreza1{
    background-color: white;
}

.textotristreza2{
    background-color: black;

}


















#textoverde{
    background-color: blueviolet;
    height: 50%;
    display: flex;
    text-align: center;
    position: absolute;
    place-items: center;

}
.nojinhoimg2 img{
    width: 800px;
    height: auto;
    background-color: blue;
    position: relative;

}

.nojinhoimg1 img{
    width: 800px;
    height: auto;
    background-color: black;
    position: relative;
}
.tudo{
    display: flex;
    background-color: tomato;
    align-items: center;
    width: 100vw;
    height: 100vh;
}